mat-toolbar{
    line-height: 50px;
}
mat-toolbar img{
    margin: 5px;
    line-height: 50px;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    text-align: center;
    text-decoration: none;
}
.container a{
    color: white;
    text-decoration: none;
} 
input{
    width: 40%;
    height: 40px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 5px;
    font-size: 18px;
    border-radius: 10px;
}
mat-form-field {
    width: 50%;
}
mat-card{
    width: 400px;
    margin: 5px auto;
}
mat-card img{
    width: 300px;
    height: 400px;
}
.col{
    text-align: center;
}
button{
    height: 50px;
    background-color: grey;
}
button a{
    color: black;
    text-decoration: none;
}
.mat-form-field-appearance-outline .mat-form-field-outline .mat-primary{
    color: black !important;
}
h1{
    text-align: center;
}

@media screen and (max-width: 1340px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 900px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    input{
        width: 30%;
        height: 30px;
    }
    mat-card{
        width: 300px;
        margin: 5px auto;
    }
}